* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


main {
  width: 500px;
  margin: 0 auto;
  background-color: lightseagreen;
  height: 300vh;
}

section {
  width: 400px;
  margin: 0 auto;
  background-color: coral;
  height: 100vh;
}


.box {
  --size: 80px;
  border: 5px solid black;
  padding: 10px;
  width: var(--size);
  height: var(--size);
}

.pos-static {
  position: static;
}

.pos-relative {
  position: relative;
  background-color: yellow;
  top: -10px;
  left: var(--size);
}

.pos-fixed {
  /* width: initial;
  height: initial; */
  position: fixed;
  background-color: limegreen;
  /* left: 50%;
  transform: translatex(-50%); */
  left: 0;
  /* right: 0; */
  top: 0;
  /* bottom: 0; */
}

.pos-relative-container,
.pos-relative-container2 {
  position: relative;
}

.pos-absolute {
  position: absolute;
  background-color: dodgerblue;
}

.pos-1 {
  bottom: -100px;
  right: 0;
  z-index: 10;
}

.pos-2 {
  bottom: -80px;
  right: 10px;
  z-index: 11;
}

.pos-3 {
  right: 30px;
  bottom: -120px;
}

.pos-sticky {
  position: sticky;
  top: 40px;
  left: 30%;
}