.main-heading {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.text {
  margin: 20px;
}

.text::before,
.text::after {
  /*background-color: lime;
  font-size: 30px;*/
  display: inline-block;
  position: absolute;
  top: 5px;
}

.text::before {
  content: open-quote;
  right: 100%;
}

.text::after {
  content: close-quote;
  left: 100%;
}