/*
selector:pseudoclass
*/

:root {
  font-size: 24px;
}

body :not(.simple, span) {
  font-style: italic;
  font-weight: bold;
}

.btn {
  background-color: blue;
  color: wheat;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
}

.btn:hover {
  color: blue;
  background-color: wheat;
}

.btn:active {
  color: red;
}

.btn:focus {
  border-color: red;
  outline: none;
}

.interactive-section:focus {
  background-color: aquamarine;
}

.interactive-section > p:first-child {
  color: red;
}

.interactive-section > p:last-child {
  color: purple;
}

.interactive-section p:nth-child(even) {
  color: lime;
}

/*.interactive-section p:nth-child(2n) {
  color: lime;
}

.interactive-section p:nth-child(2n + 1) {
  color: lightcoral;
}*/

.interactive-section p:nth-child(odd) {
  color: rgb(21, 24, 227);
}