p {
  /*
  color: rgb(50,15,255);
  color: blue;
  color: rgba(50,15,255,0.05);
  */

  /*
  A = 10
  B = 11
  C = 12
  D = 13
  E = 14
  F = 15
  */

  color: #0000FF;
  font-size:32px;
}

.text{
 color: green;
}
.text2{
  color: purple;
}

#text{
 color: red;
}