* {
  box-sizing: border-box;
  /*margin: 0;
  padding: 0;*/
}

/*
  vh - viewport height
  vw - viewport widht

  1vmin - 1% от минимальной стороны вьюпорта
  1vmax - 1% от максимальной стороны вьюпорта

*/

ul{
  /*
  list-style
  list-style-type
  list-style-position
  list-style-image
  */
  list-style: none;
}