* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
  vh - viewport height
  vw - viewport widht

  1vmin - 1% от минимальной стороны вьюпорта
  1vmax - 1% от максимальной стороны вьюпорта

*/

div {
  width: 100vmin;
  height: 100vmin;
  border: 10px solid;
}
